{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    {% assets filters="cssmin", output="gen/packed.css", "css/site.css" %}
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
          <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Match</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% include "security/_menu.html" %}
      {% set navigation_bar = [
            ('/', 'search', 'Search', False),
            ('/results', 'results', 'Results', False),
      ] -%}

      {% set active_page = active_page|default('index') -%}
      <ul class="nav navbar-nav navbar-right">
        {% for href, id, caption, needs_auth in navigation_bar %}
            {%- if not(needs_auth) or (needs_auth and current_user.is_authenticated) -%}
            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    {{ content }}
    </div>


    <div class="container">
        <hr>
        <footer>
            <p>&copy; 2016 Happy Gilmore</p>
        </footer>
    </div>
{% endblock %}

